# Ignore .git folder
.git*
.idea*
# Ignore all Windows, Linux and OSX special files
# https://www.gitignore.io/api/windows,linux,osx,vim
# Ignore all your language-specific build folders
node_modules/
doc/
.vscode/