.page .theme-default-content:not(.custom) {
  max-width: 1080px;
}

.page table {
  th:first-of-type {
    max-width: 20%;
  }

  th:nth-of-type(2) {
    max-width: 12%;
  }

  th:nth-of-type(3) {
    min-width: 100px;
  }

  th:last-of-type {
    min-width: 620px;
  }
}
